<footer class="text-center text-lg-start bg-body-tertiary text-muted mb-0">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
      <!-- Right -->
      
    </section>

    <!-- Section: Links -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Haven Coworking and Coffee
            </h6>
            <p>
              Haven was created with the mission of providing a comfortable and welcoming work environment. We offer spaces that inspire creativity, collaboration, and focus, along with artisanal coffee to energize your day. 
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Products</h6>
            <p><a href="#!" class="text-reset">Coffees</a></p>
            <p><a href="#!" class="text-reset">Sweets</a></p>
            <p><a href="#!" class="text-reset">Cappuccinos</a></p>
            <p><a href="#!" class="text-reset">Breads</a></p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Spaces</h6>
            <p><a href="#!" class="text-reset">Meeting Room</a></p>
            <p><a href="#!" class="text-reset">Computers</a></p>
            <p><a href="#!" class="text-reset">Rooms with projectors</a></p>
            <p><a href="#!" class="text-reset">Maker Rooms</a></p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope me-3"></i> info@example.com</p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-1 m-0" style="background-color: #ced4da;">
      © 2025 Copyright:
      <a class="text-reset fw-bold" href="https://github.com/SilvaTayane/">Silvatayane</a>
    </div>
  </footer>